.container {
    position:relative;
    width:60%;
    margin: 0 auto;
    margin-top:8em;
    background-color:white;
    border-radius:10px;
    padding-top:1%;
    padding-bottom:1em;
}

@media only screen and (min-width: 700px) {
    .container {
        width:420px;
    }
}

.container-heading {
    text-align:Center;
    font-weight:bold;
}

label {
    display:block;
    margin-left:10%;
    margin-top:2%;
}

.textfield {
    width:80%;
    margin-left:10%;
}

.submit {
    font-weight:bold;
    width:40%;
    margin-top:2%;
    margin-left:30%;
    border-radius:5px;
}

.checkbox-label {
    display:inline;
}

.checkbox {
    margin-left:0.3em;
    margin-top:2%;
}